<!--LISTA DE AUTORES -->
<h2>Créditos</h2>
<div class="ficha">
    <p class="fichaitem nombre">Rafael Martínez Costas</p>
    <img src="/images/pocoyoyo_120x230.png" class="fichaitem foto" alt="pocoyo de yo" />
    <div class="fichaitem video">
        <video class="videoin">
            <source src="/videos/videopagina.mp4" type="video/mp4" />
            <source src="/videos/videopagina.webm" type="video/webm" />
            <source src="/videos/videopagina.ogv" type="video/ogg" />
            HTML5 Video no soportado
        </video>
    </div>
</div>

<div class="ficha">
    <p class="fichaitem nombre">Miriadax</p>
    <img src="/images/miriada-x_logo_300x90.jpg" class="fichaitem foto" alt="logo miriadax" />
    <div class="fichaitem video">
        <iframe class="videoin" src="https://www.youtube.com/embed/8I5VpIlwr54"></iframe>
    </div>
</div>