#page-wrap {
    background: #333;
    font-size: xx-large;
}

    #page-wrap:after {
        content: "--Diseño Movil--";
        margin: auto;
    }

    #page-wrap h2 span, section h3 {
        display: none;
    }

    #page-wrap footer, input {
        font-size: large;
    }
.bot{
    font-size: 15px;
    margin: 5px;
    width: 100px;
    }

#s1 {
    min-height: 150px;
    
}
#n1 span a {
    margin: 5px auto;
}
#f1{
    display: block;
}
#f1 a {
           display: block;
        margin: 5px auto;

}
    #f1 a img {
        display: block;
        margin: 10px auto;
    }
#quizesindex a{
    width: 100px;
    margin: 3px auto;
}
#quizesindex .bot{

    width: 100px;
    margin: 3px auto;
}
#listapreg .bot{
    font-size: 12px;
    margin: 3px;
    width: 50px;
    }
#listapreg th p{
    text-align: left;
    background-color: lightgrey;
    height: 20px;
    margin: 5px;
    }
#formBusqP input{
    font-size: 15px;
    display: block;
    margin: 5px auto;
}
#formpreg p label{
    margin: 3px auto;
    display: inline-block;
    font-size: 20px;
}
#preg,
#resp {
    width: 200px;
}
.ficha {
    display: block;
    align-items: center;
}

.fichaitem {
    height: 90%;
    margin: auto;
}


.foto {
    max-height: 200px;
    max-width: 200px;
    margin: 3%;
}

.video {
width: 200px;
}

