@charset "UTF-8";
/*AL FINAL AÑÁDIDOS GENERALES DE LA PAGINA - style.css en ejr original*/
html, body, div, span, object, iframe, video, embed, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-size: 18px;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-size: 100%;
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
/* No olvides definir estilos para focus */
:focus {
    outline: 0;
}
/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}
/* En el código HTML es necesario añadir cellspacing="0" */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

a {
    color: blue;
}

audio {
    height: 50px;
}
/*---------------------Añadidos generales para paginas- style.css en ej original*/
#page-wrap {
    margin: 2% auto;
    color: white;
    width: 100%;
}

    #page-wrap > .main {
        border: 1px solid #999;
        padding: 1%;
        margin-bottom: 1px;
        color: black;
    }

    #page-wrap section > div {
        padding: 0 10px;
    }

    #page-wrap header,
    #page-wrap nav,
    #page-wrap section,
    #page-wrap footer {
        background: #eee;
        text-align: center;
    }
.bot{
    font-size: 17px;
    text-decoration:none;   
}
#log {
    font-family: "Verdana";
    font-size: 20px;
    font-weight: bold;
	text-align: right;
}
#log span,
#log form,
#log a {
     display: inline;}
.botonComoEnlace, #log a

{
display: inline;
			color: blue;
			background: none;
			margin: 0;
			padding: 0;
			border: none;
			cursor: pointer;
			text-decoration: underline;
			-ms-user-select: text;


		}
		.botonComoEnlace span {
			text-decoration: underline;
		}
		.botonComoEnlace:hover span,
		.botonComoEnlace:focus span {
			color: black;
		}
#ErrorMsg{
    width: 300px;
    background-color: red;
    font-weight: bold;
    padding: 7px;
    margin: 5px auto;
    display:  block;
}

#n1 {
    height: 50%;
}

    #n1 span a { /*da relieve a h1 y todos los enlaces*/
        text-decoration: none;
        background-color: #ff6a00; /*(border: 5px solid outline) haria lo mismo,*/
        border-top: 5px solid #dd6600;
        border-left: 5px solid #dd6600;
        border-right: 5px solid #ff9549;
        border-bottom: 5px solid #ffb580; /* pero distinto color en cada navegador */
        color: white;
        display: block;
        padding: 3px;
        margin:5px auto;
    }
    #n1 span a:hover {
				color: #b65400;
				background-color: #ffb580; /*(pone fondo claro y letra oscura al pasar por enlace*/
			}
#s1 {
    min-height: 350px;
}
#s1 h3{
    margin:10px auto;
}
#f1 a {
    margin: 2px 20px;
}

    #f1 a img {
        vertical-align: text-bottom;
    }

#formBusqP span,
#formBusqP input{
    font-size: 17px;
    margin: 10px 0;
}
#listapreg{
    width:95%;
    margin: 10px auto;
    padding: 4px;
    border: 5px solid #dd6600;
}

#listapreg table{
    width:100%;
}
    #listapreg table tr td {
        height:30px;
        font-size: 20px;
    }
   

#contfp h2{
    margin: 10px;    
}
#formpreg{
    display: flex ;
}
#formpreg p label{
    font-weight: bold;
    margin: 7px auto;
    display: inline-block;
    height: 20px;
    width: 90px;
}
#preg,
#resp {
    display: inline-block;
    height: 20px;
    width: 250px;
    padding: 2px 4px;
}
#hacerPreg p{
    font-size: 22px; 
    margin: 5px auto;
}
#coment p{
    font-size: 22px; 
    margin: 5px auto;
}
.ficha {
    background-color: burlywood;
    display: flex;
    padding: 2%;
    margin: 2%;
    align-content: center;
    align-items: center;
}

.fichaitem {
    height: 90%;
    width: 30%;
    margin: 5%;
}

.nombre {
    font-size: 25px;
}

.foto {
width: auto;
}
.video {
width: 250px;
}
.videoin {
    max-height: 300px;
    height: 100%;
    width: 100%;
}
