</br>
<h3>--ESTADISTICAS--</h3>
</br>
<h4>Cantidad total de preguntas</h4>
<p>x</p>
<h4>Cantidad de comentarios totales</h4>
<p>x</p>
<h4>MEDIA comentarios/pregunta</h4>
<p>x.x</p>
<h4>Cantidad preguntas SIN comentario</h4>
<p>x</p>
<h4>Cantidad preguntas CON comentario</h4>
<p>x</p>